html, body{
    background-color: #8d50ff;
    height: 100%;
    margin: 0;
}
.contenitore{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
}
.image{
    display: block;
    width: 125px;
    margin: 0 auto;
}
.descrizione{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    bottom: -10px;  
}
button{
    width: 150px;
    height: 40px;
    border: 1px solid #8d50ff;
    top: 50%;
    border-radius: 50px;
    background-color: white;
    color: #8d50ff;
    cursor: pointer;
}
p{
    margin-top: -10px;
    margin-bottom: 20px;
}

/* Responsive Mobile */
@media (max-width:767px){

    .contenitore{
        width: 300px;
        height: 300px;
    }

}

/* Tablet Verticali */
@media (min-width:768px) and (max-width:991px){

    .contenitore{
        width: 350px;
        height: 300px;
    }

}

/* Tablet Orizzontali e Laptop */
/* @media (min-width:992px) and (max-width:1199px){

} */