/* Responsive Mobile */
@media (max-width:767px){

    /* Navbar */
    .hamb{
        visibility: visible;
    }

    nav{
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all 0.5s ease-out;
        top: -100%;
    }

    nav ul{
        width: 100%;
        text-align: center;
    }

    nav ul li{
        float: none;
        margin-left: 0;
        width: 100%;
        display: block;
        font-size: 30px;
        margin-top: 20px;
        
    }

    .nav_hamb{
        z-index: 999;
    }

}

/* Tablet Verticali */
@media (min-width:768px) and (max-width:991px){


}

/* Tablet Orizzontali e Laptop */
@media (min-width:992px) and (max-width:1199px){

}