/* Responsive Mobile */
@media (max-width:767px){

    /* Navbar */
    .hamb{
        visibility: visible;
    }
    nav{
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all 0.5s ease-out;
        top: -100%;
    }
    nav ul{
        width: 100%;
        text-align: center;
    }
    nav ul li{
        float: none;
        margin-left: 0;
        width: 100%;
        display: block;
        font-size: 30px;
        margin-top: 20px;
        
    }
    .nav_hamb{
        z-index: 999;
    }
    ::-webkit-scrollbar{
        display: none;
    }

    /* Header */
    .container-mobile{
        display: block;
        width: 90%;
        height: 100%;
        position: relative;
    }
    #title{
        display: block;
        margin-top: 10px;
    }
    .header-name{
        text-align: center;
    }
    .immagine_header{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 450px;
    }


    /* .container-progetti{
        width: 90%;
    }
    .immagine{
        display: none;
    }
    .text-container{
        float: left;
    }
    .arrow-destra{
        right: 0;
    } */
}


/* Tablet Verticali */
@media (min-width:768px) and (max-width:991px){

}

/* Tablet Orizzontali e Laptop */
@media (min-width:992px) and (max-width:1250px){

}
