<IfModule mod_rewrite.c>
    RewriteEngine On

    ErrorDocument 403 http://www.giuseppecassanelli.it/error/404.html
    ErrorDocument 404 http://www.giuseppecassanelli.it/error/404.html
    ErrorDocument 408 http://www.giuseppecassanelli.it/error/408.html
    ErrorDocument 500 http://www.giuseppecassanelli.it/error/500.html
    ErrorDocument 502 http://www.giuseppecassanelli.it/error/502.html
    RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]

    RewriteRule ^ /%1 [NC,L,R]
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^ %{REQUEST_URI}.html [NC,L]
</IfModule>
<FilesMatch "\.(css|js|png|gif|jpg|jpeg)$">
     Header unset Cookie 
     Header unset Set-Cookie 
</FilesMatch>

Header always set Permissions-Policy "origin 'self'"