html, body{
    height: auto;
    background-color: var(--bg-color);
    color: var(--color);
    scroll-behavior: smooth;
}

/* Navbar */
nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: var(--bg-color);
    z-index: 999;
}
nav .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
#loading-bar{
    width: 100%;
    -webkit-appearance: none;
    height: 5px;
    background-color: transparent;
    display: flex;
    color: var(--purple);
}
#loading-bar::-webkit-progress-value {
    background-color: var(--purple);
}
#loading-bar::-moz-progress-value {
    background-color: var(--purple);
}
#loading-bar::-moz-progress-bar{
    background: transparent;
}
#loading-bar::-webkit-progress-bar{
    background: transparent;
}
nav .left, nav .right{
    margin: auto;
}
.mobile-menu{
    display: none;
}
.hamb {
    align-items: center;
    justify-content: flex-end;
    width: 23px;
    height: 16px;
    margin: auto;
    cursor: pointer;
    display: none;
}
.bar{
    width: 23px;
    height: 2px;
    background-color: var(--color);
    transition: .5s;
    position: relative;
}
.bar::before, .bar::after{
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    transition: .5s;
    background-color: var(--color);
}
.bar::before{
    transform: translateY(-9px);
}
.bar::after{
    transform: translateY(9px);
}
.hamb-active .bar{
    transform: rotate(-360deg);
    background-color: transparent;
}
.hamb-active .bar::before{
    transform: translateY(0) rotate(45deg);
}
.hamb-active .bar::after{
    transform: translateY(0) rotate(-45deg);
}

.logo{
    font-family: "Herr Von Muellerhoff", sans-serif !important;
    font-size: 35px;
    font-weight: 100;
    margin: 0 23px;
}
ul li{
    float: left;
    margin: 23px;
}
ul li a{
    color: var(--color);    
}
ul li a:hover, .loghi a i:hover{
    color: var(--purple);
}
.mode {
    float: right;
    position: relative;
    margin: auto;
    width: 42px;
    height: 22px;
    background: #F1F2F4;
    border-radius: 20px;
    cursor: pointer;
}
.mode:after {
    content: "☀️";
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 14px;
    height: 22px;
    line-height: 23px;
    text-align: center;
    transition: all 0.3s ease;
}
.mode.active:after {
    content: "🌛";
    transform: translateX(20px);
}
.mode.active {
    background: #0771ca;
}
.mode span {
    position: absolute;
    z-index: 1;
    margin: 2px;
    display: block;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
    transform: translateX(20px);
    transition: all 0.4s ease;
}
.mode.active span {
    transform: translateX(0);
}

/* Header */
#chisono{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#chisono .right{
    padding-left: 90px;
    max-width: 55%;
}
.profile-picture{
    border: 3px solid var(--purple);
    border-radius: 100%;
    width: 450px;
}
#chisono .right h3{
    font-size: 50px;
    font-weight: 400;
}
#chisono .right h5{
    font-size: 24px;
    font-weight: 400;
    color: var(--purple);
    margin-bottom: 25px;
}
#chisono .right p{
    font-size: 17px;
    opacity: 0.8;
}

/* Progetti */
#istruzione, #contattami{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* istruzione */
.proj-setup{
    margin: auto 3%;
}
#istruzione h2{
    font-size: 24px;
    font-weight: 500;
}
#istruzione p{
    font-size: 14px;
    opacity: .8;
}

.card-setup{
    margin: 45px 0;
    --delay: 0;
    opacity: 1;
    transition: opacity .25s ease-in-out var(--delay);
}

#other-skills.collapsed, .collapsed{
    height: 0;
    overflow: hidden;
}
#other-skills{
    height: 100%;
}

.hidden{
    display: none;
}
#other-skills.collapsed .card-setup{
    opacity: 0;
    /* transition: visibility 0s, opacity 0.5s linear; */
}
#istruzione .container{
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: var(--bg-card);
    width: 367px;
    padding: 30px;
    border-radius: 15px;
    margin: 13px 15px;
}
.language-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.language-card div {
    width: 85%;
    margin-left: 20px;
}
.language-card img{
    width: 64px;
}
.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-header button {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.skill-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skill-card img{
    width: 61px;
}
.progress-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 160px;
    height: 8px;
    border-radius: 4px;
    margin-right: 15px;
    background-color: #262626;
}
.progress-value {
    height: 8px;
    border-radius: 4px;
}
.value-text{
    width: 33px;
}
.arrow-icon{
    background: none;
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: var(--color);
    opacity: .8;
    transition: .5s;
}
.arrow-icon-reverse{
    transform: rotate(180deg);
}
/* Contact */
.cont-card{
    width: 700px;
    margin-top: 47px;
    padding: 45px 55px 35px;
    border-radius: 28px;
}
.cont-card p{
    font-size: 14px;
    opacity: 0.8;
}
.email-in{
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.button-ctn{
    width: 185px;
    height: 45px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#name, #email, #object{
    background-color: var(--bg-color);
    width: 380px;
    border-radius: 7px;
    padding: 10px 20px;
    color: var(--color);
    height: 50px;
    border: 2px solid #707070;
    margin: 10px auto;
    cursor: text;
    outline: none;
}
#name:focus, #email:focus, #object:focus {
    outline: none;
}
.input-value {
    font-size: 13px;
    position: absolute;
    top: 0;
    margin: 25px 0 0 13px;
    padding: 0 10px;
    background-color: var(--bg-color);
    color: #707070;
    transition: margin 0.2s ease-in-out;
}
.active {
    margin: 0 0 0 7px;
    background: linear-gradient(to bottom, var(--bg-card) 53%, var(--bg-color) 53% 100%);
}
.validate-input{
    position: relative;
}
.validate-input-text{
    position: absolute;
    max-width: 70%;    
    background-color: rgba(0,0,0,.4);
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    color: #c80000;
    font-size: 12px;
    line-height: 1.4;
    text-align: left;
}
.validate-input-icon {
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
}

#object{
    height: 130px;
}
.email-cont{
    width: 65%;
    background-color: var(--bg-color);
    padding: 8px 20px;
    border: 2px solid #707070;
    border-radius: 7px;
}
.email-wrapper {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#button-send{
    width: 150px;
    height: 45px;
    font-weight: 500;
    font-size: 14px;
}



/* Footer */
footer {
    width: 100%;
    height: 15.5vh;
    background-color: var(--bg-card);
    display: flex;
    justify-content: space-between;
}
.footer-left, .footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.firma {
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 40px;
    color: var(--color);
}
.footer-left .linea {
    width: 1px;
    height: 75px;
    background-color: var(--color);
    margin-left: 50px;
    margin-right: 50px;
}
.footer-left ul li {
    float: left;
    margin: 0 0 0 25px;
}
.loghi a {
    color: var(--color);
}
.loghi a i {
    margin-bottom: 10px;
    margin-right: 15px;
    color: var(--color);
}
.copy {
    margin-left: 25px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    color: var(--color);
}

@media screen and (max-width: 1380px) {
    #chisono{
        margin: 0 100px;
    }
    #chisono .right{
        padding-left: 60px;
    }
}

@media screen and (max-width: 1120px){
    #chisono{
        margin: 0 50px;
    }
    #chisono .right{
        padding-left: 40px;
    }
    .profile-picture{
        width: 45%;
    }
}



@media screen and (max-width: 890px){
    .ovale, .hidden{
        display: none;
    }
    #other-skills.collapsed, .collapsed{
        height: 100%;
        overflow: visible;
    }
    #other-skills{
        height: 100%;
    }
    #other-skills.collapsed .card-setup{
        opacity: 1;
    }

    /* Navbar */
    .mobile-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 92vh;
        background: var(--bg-color);
        top: 8vh;
        left: -100%;
        text-align: center;
        transition: all .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .hamb {
        display: flex;
    }

    /* Chi Sono */
    #chisono{
        height: auto;
        flex-direction: column;
        margin: 0 27px;
        padding-top: 100px;
    }
    #chisono img {
        width: 50%;
        display: block;
    }
    #chisono .right {
        max-width: 100%;
        padding-left: 0px;
    }
    #chisono .right h3 {
        font-size: 37px;
        padding-top: 39px;
    }
    #chisono .right h5 {
        font-size: 18px;
        margin-bottom: 17px;
    }
    #chisono .right p{
        font-size: 14px;
    }

    /* istruzione */
    #istruzione{
        display: block;
    }
    .mobile-header {
        background-color: var(--bg-card);
        padding: 10px;
        border-radius: 8px;
    }
    .mobile-header button{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-setup{
        margin: 45px 5%;
    }
    .cards-closed {
        height: 0;
        overflow: hidden;
    }
    #istruzione .container {
        margin-top: 0;
    }

    .proj-setup .button-center{
        display: none;
    }
    .proj-setup .hidden{
        display: block;
    }

    .skill-card{
        padding: 15px;
    }
    .skill-card img{
        display: none;
    }

    .proj-setup{
        margin: 0;
    }

    .email-cont{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center-container{
        margin: 0 5%;
    }

    .email-wrapper{
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #name, #email, #object {
        width: 370px;
    }
    
    .button-ctn {
        width: 150px;
        margin-top: 25px;
    }

    .footer-left{
        display: none;
    }
    
    .loghi div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #istruzione h2{
        font-size: 22px;
    }

}

@media screen and (max-width: 650px) {
    .cont-card{
        padding: 0;
    }

    .active{
        background: var(--bg-color);
    }

    .cont-card p:nth-of-type(2), .email-wrapper{
        display: none;
    }
    #istruzione h2{
        font-size: 20px;
    }
}


@media screen and (max-width: 450px) {
    #chisono .right h3{
        font-size: 33px;
    }

    #name, #email, #object{
        max-width: 300px;
        padding: 10px 17px;
    }

    #chisono img {
        width: 65%;
    }
    #istruzione h2{
        font-size: 18px;
    }
}

@media screen and (max-width: 320px){
    .card-setup {
        margin: 45px 0;
    }

    #name, #email, #object{
        max-width: 250px;
        padding: 10px 15px;
    }
    
}

.dataValue{
    font-size: 13px;
    width: 100%;
    text-align: right;
    margin: -45px auto 25px auto;
    padding-right: 10px;
    color: #737373;
    z-index: 8;
    font-weight: 500;
}
.hover-hidden{
    display: none;
}
.mail-hidden{
    display: none;
}


.content{
    max-width: 1140px;
    display: flex;
}
.img-background{
    width: 500px;
    height: 300px;
    background-color: var(--bg-card);
}