html, body{
    background-color: #8d50ff;
    height: 100%;
    scroll-behavior: smooth;
}

/* .slider{
	margin:50px auto;
	width:50%;
}
 
.img-box img{
	width: 600px;
    border-radius: 10px;
}

.btn{
	border:none;
	outline:none;
	background:#888;
	padding:10px 30px;
	font-size: 20px;
	color:#ddd;
	cursor: pointer;
	margin:10px auto;			 
}

.btn:hover{
	background: #111;
} */

.contenitore{
	display: flex;
	height: 100%;
}

.img-1{
	display: block;
	width: 600px;
	height: 600px;
    border-radius: 10px;
	margin-right: 10px;
}

.text-container{
	display: block;
	width: 450px;
	height: 600px;
	background-color: white;
	border-radius: 10;
}