html, body{
    background-color: #8d50ff;
    height: 100%;
    scroll-behavior: smooth;
}

.name{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 26px;
    line-height: 32px;
    text-align: justify;
}

.me{
    width: 500px;
    display: block;
    margin-right: 70px;
}

#title{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 100%;
}

header{
    height: 100%;
}

.intestazione{
    color: #fcbda4;
    font-size: 40px;
    margin-left: 28%;
    line-height: 70px;

}

.link{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.link:hover{
    color: #fcbda4;
    font-size: 27px;
}

.presentazione{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}